head
  title Social Media
  link(href='https://fonts.googleapis.com/css2?family=Livvic:wght@700&family=Noto+Sans+JP:wght@100&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/templates/social.css')
  link(rel='icon' href='/templates/logo.png' type='image/gif')  
  meta(name='viewport' content='width=device-width,initial-scale=1')

body
  .box3
    #heading
      | Quantumdeck
    #form
      form.input
        input#email(type='text' placeholder='Enter the email')
        br
        br
        button.submit Send
  footer#footer
    .foot
      | &copy; 2020 Quantumdeck
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
  script(src='/js/forgotPass.js')
