head
  title Quantumdeck | Welcome
  link(href='https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@200&family=Lexend+Deca&family=Livvic:wght@100&display=swap&family=Kanit:wght@500&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/templates/front.css')
  link(rel='icon' href='/templates/logo.png' type='image/gif')  
  meta(name='viewport' content='width=device-width,initial-scale=1')

header
  .title
    | Quantumdeck
main
  section.background
    .content
      h3 Connecting People
      h1 Welcome to Our Social Media platform
      form.inline(action='/login')
        button.btn Get Started
