body{
    margin:0;
}
@font-face {
	font-family: myFirstFont;
	src: url(Billabong.ttf);
}
.header{
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-around;
    border-bottom:1px solid grey;
    margin-bottom:50px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-weight: 100;
}

.updatePhoto{
    margin-top:15px;
    margin-left:25px;
    width:100px;
    height:30px;
    border-radius:5px;
    color:white;
    font-weight:600;
    background:#00B4CC;
    border: none;
  }

.header .name{
    width:33%;
    font-family: myFirstFont;
    font-size:40px;
    text-align:center;
    margin-top:10px;
}

body{
    background: #fffafa;
    font-family: 'Open Sans', sans-serif;
}

.header .navi{
    margin-top:20px;
    width:15%;
    display:flex;
    font-size:25px;
    justify-content: space-around;
}
.header .navi i{
    transition: transform .5s; /* Animation */
    color:black;
}
.header .navi i:hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color:grey;
}
.submit{
    margin-top: 40px;
    width:100%;
    text-align: center;
}
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #00B4CC;
  }
  .alert--error {
    background-color: pink;
  }

@media screen and (max-width: 600px) {
    .header .navi{
        margin-top:20px;
        width:40%;
        display:flex;
        font-size:25px;
        justify-content: space-evenly;
    }
    .header .navi i{
        transition: transform; /* Animation */
        color:black;
    }
    .header .navi i:hover{
        transform: none; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}