<head>
    <title>Request</title>
    <link rel="stylesheet" href="friendReq.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&amp;family=Anton&amp;family=Josefin+Sans:wght@200&amp;family=Lexend+Deca&amp;family=Livvic:wght@100&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/templates/logo.png" type="image/gif" />
</head>
<body>
    <header>
        <div class="header">
            <div class="name">Quantumdeck</div>
            <div class="search"><input class="searchTerm" type="text" placeholder="Whom are you looking for?" /><button class="searchButton" type="submit"><i class="fa fa-search"></i></button></div>
            <div class="navi"><a href="/profile" title="Profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a><a href="/addpost" title="Add Post"><i class="fa fa-plus-circle" aria-hidden="true"></i></a><a class="logout" href="#" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
        </div>
    </header>
    <div class="content">
       <div class="card">
           <div class="leftContent">
                <div class="image">
                    <img src="myback.jpg" width="70" height="70">
                </div>
           </div>
           <div class="rightContent">
               <div class="name">
                    Naman Singh
               </div>
           </div>
           <div class="buttons">
               <a href="#" class="accept"><i class="fa fa-check"></i></a>
               <a href="#" class="reject"><i class="fa fa-times"></i></a>
           </div>
       </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/logout.js"></script>