<html>
    <head>
        <title>Quantumdeck | Welcome</title>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@200&family=Lexend+Deca&family=Livvic:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="front.css">
    </head>
    <body>
        <header>
            <div class="title">
               Quantumdeck
            </div>
        </header>
        <main>
			<section class="background">
				<div class="content">
					<h3>Connecting People</h3>
                    <h1>Welcome to Our Social Media platform</h1>
                    <form action="/home" class="inline">
                        <button class="btn">Get Started</button>
                    </form>
				</div>
			</section>
		</main>
    </body>
</html>