<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="profile.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@200&family=Lexend+Deca&family=Livvic:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="name">
                    Quantumdeck
                </div>
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Whom are you looking for?">
                    <button type="submit" class="searchButton">
                      <i class="fa fa-search"></i>
                    </button>
                 </div>
                <div class="navi">
                    <a href="#" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
                    <a href="#" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </div>
            </div>
        </header>
        <main>
            <div class="info">
                <div class="profilePhoto">
                    <div class="image">
                        <img src="myback.jpg" width="150" height="150">
                    </div>
                    <div class="update">
                        <button class="updatePhoto">Update</button>
                    </div>
                </div>
                <div class="postfriends">
                    <div class="generalInfo">
                        <h3>40 Posts</h3>
                        <h3>40 Friends</h3>
                    </div>
                    <div class="addFriend">
                        <button class="add-btn"><i class="fa fa-user-plus"></i>Add Friend</button>
                    </div>
                    <!-- <div class="addFriend">
                        <div class="add-btn"><i class="fa fa-user-plus"></i>Add Friend</button>
                    </div> -->
                </div>
                <div class="name">
                    Naman Singh
                </div>
            </div>
            <div class="line"></div>
            <div class="gallery">
                <div class="posts">
                    <div class="title">Title</div>
                    <div class="postImage">
                        <img class="img" src="default-profile-picture1.jpg" alt="this is image">
                    </div>
                    <div class="footContent">
                        <div class="postText">
                            title<br>
                            caption
                        </div>
                        <div class="likes">
                            4 likes    
                        </div>
                    </div>
                    <div class="commentForm"> 
                        <span class="commentCount">4 <a class="showComment" href="#">Comments</a></span>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>