<html>
    <head>
        <title>Signup</title>
        <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@700&family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
        <div class="box">
            <div id="heading">
                Octal Diary
            </div>
            <div class="info">
                Sign up to see photos and videos from your friends.
            </div>
            <div id="form">
                <form class="input">
                    <input type="text" placeholder="Enter Email"><br>
                    <br>
                    <input type="text" placeholder="Enter Full Name"><br>
                    <br>
                    <input type="text" placeholder="Enter Username"><br>
                    <br>
                    <input type="password" placeholder="Enter Password"><br>
                    <br>
                    <input type="password" placeholder="Confirm Password"><br>
                    <br>
                    <button>Sign Up</button>
                </form>
            </div>
            <br>
            <div id="choice">By signing up, you agree to our Terms , Data Policy and Cookies Policy .</div>
            <br>
        </div>
        <div class="box2">
            <span id="login">
                Already have an account? <a style="font-weight: bolder;" href="#">Log In</a>            
            </span>
        </div>
        <footer id="footer">
            <div class="foot">
                © 2020 Octal Diary
            </div>
        </footer>
    </body>
</html>